.product-element {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: rgb(220, 220, 220);
    padding: 10px;
}

.product-items {
    padding: 10px; 
    background-color: aliceblue;
    font-size: 15px;
    margin: 5px;
}
.input-box {
    width: 95%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.share-btn {
    padding: 10px;
    border: none;
    color: rgb(8, 11, 57);
    background-color: rgb(255, 255, 255);
}
.share-btn:hover {
    cursor: pointer;
}