<div *ngIf='ProductList && ProductList.length'>
    <div class="product-element">
        <h1>Giỏ hàng</h1>

        <div *ngFor="let product of ProductList">
            <div class="product-items">
                <span>Tên sản phẩm:<strong> {{product.name}}</strong></span>
                <span> Giá bán: <strong> {{product.price}}</strong></span>
                <button type="button" class="" (click)="removeProductFromCart(product)">Xóa</button>
            </div>
        </div>
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="name">
                    Name
                </label>
                <input class="input-box" id="name" type="text" formControlName="name">
            </div>

            <div>
                <label for="address">
                    Address
                </label>
                <input class="input-box" id="address" type="text" formControlName="address">
            </div>
            <button class="share-btn" type="submit">Thanh toán</button>
        </form>
    </div>

</div>
<div *ngIf='ProductList && ProductList.length === 0'>
    <span>Không có sản phẩm trong giỏ hàng</span>
</div>